<!DOCTYPE html>
<html>
<head>
    <title>{{ league }} Standings</title>
    <style>
        body { background-color: #121212; color: white; font-family: monospace; padding: 20px; max-width: 500px; margin: auto; }
        .back-nav { display: block; margin-bottom: 20px; color: #9090ff; text-decoration: none; }
        {{ styles|safe }}
    </style>
</head>
<body>
    <a class="back-nav" href="{% url 'scores:dashboard' %}">&lt; Back to Dashboard</a>
    <div>{{ body_content|safe }}</div>
</body>
</html>